html {
    overflow-y: scroll;
}

body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.age-verification-card {
    max-width: 400px;
    width: 100%;
}


.custom-accordion-header {
    background-color: #f8f9fa;
    /* Light grey background */
    color: #007bff;
    /* Bootstrap primary blue for text */
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.custom-accordion-header:not(.collapsed) {
    background-color: #e9ecef;
    /* Slightly darker when expanded */
}

.custom-accordion-header:hover {
    background-color: #e2e6ea;
    /* Darker grey on hover */
}

.selected-tags {
    font-weight: normal;
    /* Ensure this text is not bold */
}

/* Navbar styling */
.navbar {
    background-color: #343a40;
    /* Dark theme for navbar */
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
    /* White text color for brand and links */
}

.nav-link:hover {
    color: #adb5bd !important;
    /* Light grey on hover */
}

.nav-link.active {
    font-weight: bold;
    color: #f8f9fa !important;
    /* Slightly different color for active link */
}

.mb-3 label {
    font-weight: bold;
}

.form-control {
    border-radius: 0.25rem;
}